{% extends "suites/tests/index.html" %}

{% block head_title %}{{ test.name }} - {% parent %}{% endblock %}

{% block content %}
<div class="page-header"><h1>{{ test.name }}</h1></div>

<div id="chart"></div>

<script>
new Rickshaw.Graph.JSONP({
  element: document.querySelector('#chart'),
  dataURL: '{{ test.report_url|raw }}',
  width: 800,
  height: 300,
  interpolation: 'step-after',
  onData: function(result) {
    return [{
      name: 'Duration (ms)',
      color: 'steelblue',
      data: result.data.map(function(d) { return { x: parseInt(d.time / 1000), y: d.duration }; })
    }];
  },
  onComplete: function(transport) {
    var graph = transport.graph;
    var detail = new Rickshaw.Graph.HoverDetail({
      graph: graph,
      xFormatter: function(x) {
        var d = new Date(x * 1000).toLocaleString();
        return d.slice(0, 24) + d.slice(33);
      }
    });
  }
});
</script>
{% endblock %}
