<table>
  <thead>
    <tr>
      <th>Passes</th>
      <th>Failures</th>
      <th>Duration (ms)</th>
{% if suite.timestamp %}
      <th>Timestamp</th>
{% endif %}
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ suite.passes }}</td>
      <td>{{ suite.failures }}</td>
      <td>{{ suite.duration }}</td>
{% if suite.timestamp %}
      <td>{{ suite.timestamp }}</td>
{% endif %}
    </tr>
  </tbody>
</table>

<ul>
{% for name, result in suite.results %}
  <li>{{ formatTestName(name) }} ({{ result.duration }} ms)</li>
  <ul>
  {% for assert in result.assertions %}
    <li class="{% if assert.ok %}success{% else %}failure{% endif %}">{{ assert.message }}</li>
  {% endfor %}
  </ul>
{% endfor %}
</ul>
