<!doctype html>
<html>
  <head>
    {% block head %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{% block head_title %}ntf{% endblock %}</title>
    <link href="/vendor.css" rel="stylesheet" type="text/css">
    <link href="/ntf.css" rel="stylesheet" type="text/css">
    <script src="/vendor.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/ntf.js"></script>
    {% endblock %}
  </head>
  <body  id="{{ bodyid }}">
    <div class="topbar">
      <div class="fill">
        <div class="container-fluid">
          <a class="brand" href="/">ntf</a>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      {% block content %}{% endblock %}
    </div>
    {% block footer %}{% endblock %}
  </body>
</html>
