{% extends "base.html" %}

{% block content %}
<table id="events">
  <thead>
    <tr>
      <th>Name</th>
      <th>Duration (ms)</th>
      <th>Passes</th>
      <th>Failures</th>
    </tr>
  </thead>
  <tbody>
  {% for name, test in data %}
    <tr class="box {% if test.failures > 0 %}failure{% else %}success{% endif %}-box" name="test-{{ test.name }}">
      <td><a href="/test/{{ test.name }}" target="_blank">{{ test.name }}</a></td>
      <td>{{ test.duration }}</td>
      <td>{{ test.passes }}</td>
      <td>{{ test.failures }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block footer %}
<script>var app = main();</script>
{% endblock %}}
