<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Details</li>
          <li><a href="/#/suite">Suites</a></li>
          <li><a href="/#/agent">Agents</a></li>
        </ul>
      </div>
    </div>
    <div class="span9">
      <div id="main"><noscript><p>JavaScript must be enabled in order to use this site, enable JavaScript by changing your browser options, then  <a href="/">try again</a>.</p></noscript></div>
    </div>
  </div>
</div>
