{% extends "base.html" %}

{% block head %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/ntfd.js"></script>
{% endblock %}

{% block content %}
<h1>ntfd</h1>

<table id="events">
  <thead>
    <tr>
      <th>Name</th>
      <th>Duration (ms)</th>
      <th>Passes</th>
      <th>Failures</th>
    </tr>
  </thead>
  <tbody>
  {% for name, test in data %}
    <tr class="box {% if data.failures > 0 %}failure{% else %}success{% endif %}-box" name="test-{{ test.name }}">
      <td><a href="/test/{{ test.name }}" target="_blank">{{ test.name }}</a></td>
      <td>{{ test.duration }}</td>
      <td>{{ test.passes }}</td>
      <td>{{ test.failures }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<script>var app = main();</script>
{% endblock %}
