{% extends "base.html" %}

{% block head_title %}Status - {% parent %}{% endblock %}

{% block content %}
<table class="table" id="status">
  <thead>
    <tr>
      <th>Pass</th>
      <th>Fail</th>
      <th>Suite</th>
      <th>Agent</th>
      <th>Duration (ms)</th>
      <th>Time</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="status-fail">
    {% for result in results %}
      {% if result.ok and not ok %}
        {% set ok = result.ok %}
  </tbody>
  <tbody id="status-pass">
      {% endif %}
      {% include "snippets/status_result.html" %}
    {% endfor %}
    {% if not ok %}
  </tbody>
  <tbody id="status-pass">
    {% endif %}
  </tbody>
</table>
{% endblock %}
